flows (2).json
[{"id":"82b6790d.6aa0d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59f7107e.a063e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3a3ad08e.0238d","type":"tab","label":"Speech to Text","disabled":false,"info":""},{"id":"cca9ab25.4d0b08","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"a7146c22.ebd2c","type":"tab","label":"Text to Speech","disabled":false,"info":""},{"id":"ee8e5097.c9bff","type":"telegram bot","z":"","botname":"Jabers_watson_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"5f2ca50.8ce0c5c","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/enviarDado","method":"get","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["f67a5cc6.0be5c","93866f88.f1e8a"]]},{"id":"f67a5cc6.0be5c","type":"cloudant out","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","payonly":true,"operation":"insert","x":420,"y":100,"wires":[]},{"id":"93866f88.f1e8a","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":420,"y":180,"wires":[]},{"id":"f40a8853.b8d168","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/salvarDadosPost","method":"post","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["6c4e18b0.76d048","4f26fd73.302604","efca21f8.a6ea7"]]},{"id":"6c4e18b0.76d048","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":410,"y":280,"wires":[]},{"id":"4f26fd73.302604","type":"cloudant out","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","payonly":true,"operation":"insert","x":440,"y":360,"wires":[]},{"id":"efca21f8.a6ea7","type":"debug","z":"82b6790d.6aa0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":440,"wires":[]},{"id":"b353d259.2d576","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/getDados","method":"get","upload":false,"swaggerDoc":"","x":640,"y":100,"wires":[["7e62d12f.17faf"]]},{"id":"f5d65d46.525b","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":910,"y":180,"wires":[]},{"id":"7e62d12f.17faf","type":"cloudant in","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":840,"y":100,"wires":[["f5d65d46.525b"]]},{"id":"11fbf89c.8de307","type":"cloudant in","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":860,"y":280,"wires":[["894b6223.c230b"]]},{"id":"d8b88112.51c7e","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/getDado","method":"get","upload":false,"swaggerDoc":"","x":640,"y":240,"wires":[["11fbf89c.8de307"]]},{"id":"894b6223.c230b","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":890,"y":360,"wires":[]},{"id":"d00fdfce.b5b79","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/delDado","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["18760983.8fa516","4de158b7.a04b18"]]},{"id":"4de158b7.a04b18","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":350,"y":600,"wires":[]},{"id":"18760983.8fa516","type":"cloudant out","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","payonly":false,"operation":"delete","x":380,"y":520,"wires":[]},{"id":"814cfe9d.01fc","type":"cloudant out","z":"82b6790d.6aa0d8","name":"","cloudant":"","database":"node-red-jaber","service":"node-red-jaber-cloudantNoSQLDB","payonly":true,"operation":"insert","x":900,"y":500,"wires":[]},{"id":"28b0109.65330f","type":"http in","z":"82b6790d.6aa0d8","name":"","url":"/updateDado","method":"post","upload":false,"swaggerDoc":"","x":650,"y":500,"wires":[["814cfe9d.01fc","9cce7533.c55c08"]]},{"id":"9cce7533.c55c08","type":"http response","z":"82b6790d.6aa0d8","name":"","statusCode":"","headers":{},"x":880,"y":600,"wires":[]},{"id":"46cbf59f.2ef2ec","type":"http in","z":"59f7107e.a063e","name":"","url":"/createEstacionamento","method":"post","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["136b4222.ec3ade","c7eb8aa2.84a898"]]},{"id":"c7eb8aa2.84a898","type":"http response","z":"59f7107e.a063e","name":"","statusCode":"","headers":{},"x":390,"y":200,"wires":[]},{"id":"ec527cda.f834","type":"http in","z":"59f7107e.a063e","name":"","url":"/getEstacionamento","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["c70f0d2c.1c947","188df402.f95d0c"]]},{"id":"69be8284.a503ac","type":"http response","z":"59f7107e.a063e","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"136b4222.ec3ade","type":"cloudant out","z":"59f7107e.a063e","name":"","cloudant":"","database":"estacionamento","service":"node-red-jaber-cloudantNoSQLDB","payonly":true,"operation":"insert","x":420,"y":100,"wires":[]},{"id":"c70f0d2c.1c947","type":"cloudant in","z":"59f7107e.a063e","name":"","cloudant":"","database":"estacionamento","service":"node-red-jaber-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":460,"y":380,"wires":[["69be8284.a503ac"]]},{"id":"188df402.f95d0c","type":"debug","z":"59f7107e.a063e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":300,"wires":[]},{"id":"bac3f49b.abf468","type":"fileinject","z":"3a3ad08e.0238d","name":"","x":140,"y":80,"wires":[["b82c1714.104d78"]]},{"id":"b82c1714.104d78","type":"watson-speech-to-text","z":"3a3ad08e.0238d","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"TtUmW4MHA0OMrQl2rO_lFko48MRO1ePQl0DyVtReLmJZ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":340,"y":80,"wires":[["9cda4ed5.66cef"]]},{"id":"9cda4ed5.66cef","type":"debug","z":"3a3ad08e.0238d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":590,"y":80,"wires":[]},{"id":"35ee3bee.df8844","type":"microphone","z":"3a3ad08e.0238d","name":"","x":150,"y":180,"wires":[["b21a743a.406b78"]]},{"id":"b21a743a.406b78","type":"watson-speech-to-text","z":"3a3ad08e.0238d","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"TtUmW4MHA0OMrQl2rO_lFko48MRO1ePQl0DyVtReLmJZ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":360,"y":180,"wires":[["307bd4d3.e0644c","41d79ab7.d7d234"]]},{"id":"307bd4d3.e0644c","type":"debug","z":"3a3ad08e.0238d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":600,"y":180,"wires":[]},{"id":"41d79ab7.d7d234","type":"cloudant out","z":"3a3ad08e.0238d","name":"","cloudant":"","database":"speech-to-text","service":"node-red-jaber-cloudantNoSQLDB","payonly":true,"operation":"insert","x":600,"y":260,"wires":[],"inputLabels":["msg.transcription"]},{"id":"93b64ca6.24bbe","type":"telegram command","z":"cca9ab25.4d0b08","name":"Jabers_watson_bot","command":"/echo","bot":"ee8e5097.c9bff","strict":false,"x":110,"y":80,"wires":[["dc916327.7f5b1"],[]]},{"id":"dc916327.7f5b1","type":"telegram sender","z":"cca9ab25.4d0b08","name":"","bot":"ee8e5097.c9bff","x":340,"y":80,"wires":[[]]},{"id":"6917b4bd.5947fc","type":"telegram command","z":"cca9ab25.4d0b08","name":"Jabers_watson_bot","command":"/watson","bot":"ee8e5097.c9bff","strict":false,"x":110,"y":180,"wires":[["86aa7bf7.5ca3f8"],[]]},{"id":"86aa7bf7.5ca3f8","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["d178927d.b8dd"]]},{"id":"d178927d.b8dd","type":"watson-conversation-v1","z":"cca9ab25.4d0b08","name":"conversation","workspaceid":"d171d2c1-1d5c-4e95-bec1-7d32cc211695","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":510,"y":220,"wires":[["e3130e22.aa19c"]]},{"id":"685ac87f.a7b988","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":460,"wires":[["3b2fdd04.e08732"]]},{"id":"3b2fdd04.e08732","type":"telegram sender","z":"cca9ab25.4d0b08","name":"","bot":"ee8e5097.c9bff","x":1560,"y":480,"wires":[[]]},{"id":"e3130e22.aa19c","type":"switch","z":"cca9ab25.4d0b08","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"translate","vt":"str"},{"t":"eq","v":"music","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":300,"wires":[["156b371b.0075d9"],["8bf2ddd2.6189e"],["685ac87f.a7b988"]]},{"id":"156b371b.0075d9","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Translator","func":"msg.srclang = getLanguage(msg.payload.context.source);\nmsg.destlang = getLanguage(msg.payload.context.destination);\nmsg.payload = msg.payload.input.text;\n\nreturn msg;\n\nfunction getLanguage(lang) {\n    \n    switch (lang.toLowerCase()) {\n        case \"french\":\n            return \"fr\";\n        case \"italian\":\n            return \"it\";\n        case \"spanish\":\n            return \"es\";\n    }\n    return \"en\";\n}\n","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["2311368e.a0c46a"]]},{"id":"2311368e.a0c46a","type":"watson-translator","z":"cca9ab25.4d0b08","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1070,"y":280,"wires":[["6f904e1a.7978f","2bee2e6d.cbc492"]]},{"id":"2bee2e6d.cbc492","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Telegram 2 ","func":"\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1320,"y":300,"wires":[["3b2fdd04.e08732"]]},{"id":"6f904e1a.7978f","type":"function","z":"cca9ab25.4d0b08","name":"Clear Conversation Context","func":"\nmsg.payload = \"hi\";\nmsg.params = {\n    context : {}\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":220,"wires":[["341b1258.01a8ce"]]},{"id":"341b1258.01a8ce","type":"watson-conversation-v1","z":"cca9ab25.4d0b08","name":"conversation 2","workspaceid":"d171d2c1-1d5c-4e95-bec1-7d32cc211695","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1380,"y":120,"wires":[[]]},{"id":"b8b4b9e2.5ad0c8","type":"inject","z":"a7146c22.ebd2c","name":"","topic":"","payload":"Fabricio, por favor","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["6eb62a2.e69b9d4"]]},{"id":"6eb62a2.e69b9d4","type":"watson-text-to-speech","z":"a7146c22.ebd2c","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"yTQUGRhV29G-SVS_HR3BUvROR_DKPXLs-32uMY3jZlk3","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":340,"y":100,"wires":[["ed33f813.e204d8"]]},{"id":"ed33f813.e204d8","type":"play audio","z":"a7146c22.ebd2c","name":"","voice":"22","x":570,"y":100,"wires":[]},{"id":"bca89eb3.3e6ab","type":"debug","z":"cca9ab25.4d0b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":360,"wires":[]},{"id":"8bf2ddd2.6189e","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Spotify","func":"msg.genre = msg.payload.context.genre;\nmsg.headers = {\n \"Authorization\" : \"Bearer BQAGobk_Ipmgan56K0OCN_7j7GXP5DdIPL9LDQhD26yagSHtYiqpvxKuUaK5wF6W09UbnFT5SeDnbUTyNQzBEZlYtYmrwKgauxbo4BQbtb9JZbAOeAiILZYJNmko6iWiMJ90WU7etelx\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":360,"wires":[["8fe547cd.593b18"]]},{"id":"8fe547cd.593b18","type":"http request","z":"cca9ab25.4d0b08","name":"Spotify Search API","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.spotify.com/v1/search?type=track&market=MY&limit=10&q=genre:{{{genre}}}","tls":"","proxy":"","authType":"","x":1070,"y":360,"wires":[["16636f4e.d72fc1","bca89eb3.3e6ab"]]},{"id":"16636f4e.d72fc1","type":"function","z":"cca9ab25.4d0b08","name":"Prepare for Telegram 3","func":"var items = msg.payload.tracks.items;\nvar rndm = Math.floor((Math.random() * items.length));\nvar item = items[rndm];\nvar artists = [];\nfor (var i in item.artists) {\n artists.push(item.artists[i].name);\n}\ntitle = item.name;\ncontent = \"I have found \" + title + \" by \" + artists.join(\", \") + \".\";\nif (item.external_urls && item.external_urls.spotify) {\n content += \"\\nClick on the following link to open it on Spotify:\\n\" + item.external_urls.spotify;\n}\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : content\n};\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":420,"wires":[["3b2fdd04.e08732"]]}]